<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>ID</string>
			<key>Required</key>
			<true/>
			<key>Name</key>
			<string>Controller, Storyboard and Model name</string>
			<key>Description</key>
			<string>The name of the Controller, Storyboard and Model to create</string>
			<key>Type</key>
			<string>text</string>
			<key>Default</key>
			<string>MyAny+(Model/ViewController)</string>
			<key>NotPersisted</key>
			<true/>
			<key>Nodes</key>
			<array>
				<string>Base</string>
			</array>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>TemplateType</string>
			<key>Required</key>
			<string>YES</string>
			<key>Name</key>
			<string>Type</string>
			<key>Description</key>
			<string>What type of template</string>
			<key>Type</key>
			<string>popup</string>
			<key>Default</key>
			<string>ViewController</string>
			<key>Values</key>
			<array>
				<string>ViewController</string>
				<string>TableViewController</string>
				<string>TableViewControllerDiffable</string>
				<string>CollectionViewController</string>
				<string>CollectionViewControllerDiffable</string>
			</array>
		</dict>
		<dict/>
	</array>
</dict>
</plist>
