<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Kind</key>
  <string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
  <key>Platforms</key>
  <array>
    <string>com.apple.platform.iphoneos</string>
  </array>
  <key>Options</key>
  <array>
    <dict>
      <key>Identifier</key>
      <string>ID</string>
      <key>Required</key>
      <true/>
      <key>Name</key>
      <string>View Name</string>
      <key>Description</key>
      <string>The name of the Xib View/TableViewCell/CollectionViewCell to create</string>
      <key>Type</key>
      <string>text</string>
      <key>Default</key>
      <string>MyAny+(View/TableViewCell/CollectionViewCell)</string>
    </dict>

    <dict>
      <key>Identifier</key>
      <string>TemplateType</string>
      <key>Required</key>
      <string>YES</string>
      <key>Name</key>
      <string>Cell Embeded</string>
      <key>Description</key>
      <string>What type of template</string>
      <key>Type</key>
      <string>popup</string>
      <key>Default</key>
      <string>TableViewCell</string>
      <key>Values</key>
      <array>
        <string>TableViewCell</string>
        <string>CollectionViewCell</string>
        <string>WithoutCell</string>
      </array>
    </dict>

  </array>
</dict>
</plist>
