<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key> <!--States the template type-->
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<!--States if the template is a standalone template or a part
	of template used in a diffrent template. In this case it will
	be hidden from the template wizzard-->
	<key>Concrete</key>
 	<false/>
	<key>Identifier</key>  <!--Template ID in the "template space"-->
	<string>com.goodrequest.License</string>
	<key>Definitions</key>  <!--Template variables-->
	<dict>
	<key>Application/Settings.bundle</key>
	<dict>
		<key>Path</key>
		<string>Settings.bundle</string>
		<key>Group</key>
		<array>
			<string>Application</string>
		</array>
	</dict>
</dict>
<key>Nodes</key>
<array>
	<string>Application/Settings.bundle</string>
</array>
<key>Targets</key>
<array>
	<dict>
		<key>TargetIdentifier</key>
		<string>com.apple.dt.cocoaTouchApplicationTarget</string>
		<key>BuildPhases</key>
		<array>
			<dict>
				<key>Name</key>
				<string>📁 Run licence generator</string>
				<key>SortOrder</key>
				<string>1</string>
				<key>Class</key>
				<string>ShellScript</string>
				<key>ShellPath</key>
				<string>/bin/sh</string>
				<key>ShellScript</key>
				<string>PLIST_PATH="${PODS_ROOT}/LicensePlist/license-plist"

if test -f "${PLIST_PATH}"; then
    "${PLIST_PATH}" --package-path "${PROJECT_NAME}.xcworkspace/xcshareddata/swiftpm/Package.swift" --suppress-opening-directory
else
    echo "warning: LicencePlist not installed, download from https://github.com/mono0926/LicensePlist 😭😩🤦‍♂️"
fi</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>📁 Copy licence data into settings bundle</string>
				<key>SortOrder</key>
				<string>1</string>
				<key>Class</key>
				<string>ShellScript</string>
				<key>ShellPath</key>
				<string>/bin/sh</string>
				<key>ShellScript</key>
				<string>cp -R "${SRCROOT}/com.mono0926.LicensePlist.Output/" "${SRCROOT}/${PROJECT_NAME}/Application/Settings.bundle/"
					rm -rf "${SRCROOT}/com.mono0926.LicensePlist.Output/"</string>
			</dict>
		</array>
	</dict>
</array>
</dict>
</plist>
