<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key> <!--States the template type-->
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<!--States if the template is a standalone template or a part
	of template used in a diffrent template. In this case it will
	be hidden from the template wizzard-->
	<key>Concrete</key>
 	<true/>
	<key>TargetOnly</key>
	<true/>
	<key>Identifier</key>  <!--Template ID in the "template space"-->
	<string>com.goodrequest.AnyLintAggregate</string>
	<key>Targets</key>
	<array>
		<dict>
			<key>TargetIdentifier</key>
			<string>com.goodrequest.anyLintTarget</string>
			<key>Name</key>
			<string>AnyLint autocorrect</string>
			<key>TargetType</key>
			<string>Aggregate</string>
			<key>BuildPhases</key>
			<array>
				<dict>
					<key>Name</key>
					<string>🧼 Autocorrect codestyle with AnyLint</string>
					<key>Class</key>
					<string>ShellScript</string>
					<key>ShellPath</key>
					<string>/bin/sh</string>
					<key>ShellScript</key>
					<string>ANY_LINT_CONFIG="${SRCROOT}/swiftlint/anylintAutocorrect.swift"

if which anylint > /dev/null; then
    if test -f "${ANY_LINT_CONFIG}"; then
        anylint -x --path "${ANY_LINT_CONFIG}"
    else
        echo "warning: AnyLint configuration file missing make your the submodule is fetched 😭😩🤦‍♂️"
    fi
else
    echo "warning: AnyLint not installed, download it from https://github.com/Flinesoft/AnyLint to your local machine 😭😩🤦‍♂️"
fi</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
