<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>com.apple.dt.unit.singleViewApplication</string>
	<key>Ancestors</key>
	<array>
		<string>com.goodrequest.cocoaTouchApplicationBase</string>
		<string>com.goodrequest.CocoaPods</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Definitions</key>
	<dict>
		<key>Application/AppDelegate.swift</key>
		<dict>
			<key>Path</key>
			<string>Application/AppDelegate.swift</string>
			<key>Group</key>
			<array>
				<string>Application</string>
			</array>
		</dict>
		<key>Extensions/Foundation/String+Extensions.swift</key>
		<dict>
			<key>Path</key>
			<string>Extensions/Foundation/String+Extensions.swift</string>
			<key>Group</key>
			<array>
				<string>Extensions</string>
				<string>Foundation</string>
			</array>
		</dict>
		<key>Extensions/UIKit/UIView+Extensions.swift</key>
		<dict>
			<key>Path</key>
			<string>Extensions/UIKit/UIView+Extensions.swift</string>
			<key>Group</key>
			<array>
				<string>Extensions</string>
				<string>UIKit</string>
			</array>
		</dict>
		<key>Helpers/TypeAliases.swift</key>
		<dict>
			<key>Path</key>
			<string>Helpers/TypeAliases.swift</string>
			<key>Group</key>
			<string>Helpers</string>
		</dict>
		<key>Models/Error/AppError.swift</key>
		<dict>
			<key>Path</key>
			<string>Models/Error/AppError.swift</string>
			<key>Group</key>
			<array>
				<string>Models</string>
				<string>Error</string>
			</array>
		</dict>
		<key>Models/Response/SampleResponse.swift</key>
		<dict>
			<key>Path</key>
			<string>Models/Response/SampleResponse.swift</string>
			<key>Group</key>
			<array>
				<string>Models</string>
				<string>Response</string>
			</array>
		</dict>
		<key>Models/Request/SampleRequest.swift</key>
		<dict>
			<key>Path</key>
			<string>Models/Request/SampleRequest.swift</string>
			<key>Group</key>
			<array>
				<string>Models</string>
				<string>Request</string>
			</array>
		</dict>
		<key>Managers/Dependency/DependencyContainer.swift</key>
		<dict>
			<key>Path</key>
			<string>Managers/Dependency/DependencyContainer.swift</string>
			<key>Group</key>
			<array>
				<string>Managers</string>
				<string>Dependency</string>
			</array>
		</dict>
		<key>Managers/Request/RequestManager.swift</key>
		<dict>
			<key>Path</key>
			<string>Managers/Request/RequestManager.swift</string>
			<key>Group</key>
			<array>
				<string>Managers</string>
				<string>Request</string>
			</array>
		</dict>
		<key>Managers/Request/RequestManagerType.swift</key>
		<dict>
			<key>Path</key>
			<string>Managers/Request/RequestManagerType.swift</string>
			<key>Group</key>
			<array>
				<string>Managers</string>
				<string>Request</string>
			</array>
		</dict>
		<key>Managers/Request/Endpoint.swift</key>
		<dict>
			<key>Path</key>
			<string>Managers/Request/Endpoint.swift</string>
			<key>Group</key>
			<array>
				<string>Managers</string>
				<string>Request</string>
			</array>
		</dict>
		<key>Coordinators/Coordinator.swift</key>
		<dict>
			<key>Path</key>
			<string>Coordinators/Coordinator.swift</string>
			<key>Group</key>
			<string>Coordinators</string>
		</dict>
		<key>Coordinators/AppCoordinator.swift</key>
		<dict>
			<key>Path</key>
			<string>Coordinators/AppCoordinator.swift</string>
			<key>Group</key>
			<string>Coordinators</string>
		</dict>
		<key>Screens/SampleController/SampleViewController.swift</key>
		<dict>
			<key>Path</key>
			<string>Screens/SampleController/SampleViewController.swift</string>
			<key>Group</key>
			<array>
				<string>Screens</string>
				<string>SampleController</string>
			</array>
		</dict>
		<key>Views/SampleView/SampleView.swift</key>
		<dict>
			<key>Path</key>
			<string>Views/SampleView/SampleView.swift</string>
			<key>Group</key>
			<array>
				<string>Views</string>
				<string>SampleView</string>
			</array>
		</dict>
		<key>Resources/Assets.xcassets</key>
		<dict>
			<key>Path</key>
			<string>Resources/Assets.xcassets</string>
			<key>Group</key>
			<array>
				<string>Resources</string>
			</array>
		</dict>
		<key>Resources/Colors.xcassets</key>
		<dict>
			<key>Path</key>
			<string>Resources/Colors.xcassets</string>
			<key>Group</key>
			<array>
				<string>Resources</string>
			</array>
		</dict>
		<key>Resources/SwiftGen/swiftgen.yml</key>
		<dict>
			<key>Path</key>
			<string>Resources/SwiftGen/swiftgen.yml</string>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>SwiftGen</string>
			</array>
		</dict>
	</dict>
	<key>Nodes</key>
	<array>
		<string>Application/AppDelegate.swift</string>
		<string>Extensions/UIKit/UIView+Extensions.swift</string>
		<string>Extensions/Foundation/String+Extensions.swift</string>
		<string>Helpers/TypeAliases.swift</string>
		<string>Models/Error/AppError.swift</string>
		<string>Models/Response/SampleResponse.swift</string>
		<string>Models/Request/SampleRequest.swift</string>
		<string>Managers/Dependency/DependencyContainer.swift</string>
		<string>Managers/Request/RequestManager.swift</string>
		<string>Managers/Request/RequestManagerType.swift</string>
		<string>Managers/Request/Endpoint.swift</string>
		<string>Coordinators/Coordinator.swift</string>
		<string>Coordinators/AppCoordinator.swift</string>
		<string>Screens/SampleController/SampleViewController.swift</string>
		<string>Views/SampleView/SampleView.swift</string>
		<string>Resources/SwiftGen/swiftgen.yml</string>
		<string>Resources/Colors.xcassets</string>
		<string>Resources/Assets.xcassets</string>
		<string>Info.plist:UIMainStoryboardFile</string>
		<string>Info.plist:UIApplicationSceneManifest:UISceneStoryboardFile</string>
	</array>
</dict>
</plist>
