<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key> <!--States the template type-->
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<!--States if the template is a standalone template or a part
	of template used in a diffrent template. In this case it will
	be hidden from the template wizzard-->
	<key>Concrete</key>
 	<true/>
	<key>TargetOnly</key>
	<true/>
	<key>Identifier</key>  <!--Template ID in the "template space"-->
	<string>com.goodrequest.LogenAggregate</string>
	<key>Targets</key>
	<array>
		<dict>
			<key>TargetIdentifier</key>
			<string>com.goodrequest.logenTarget</string>
			<key>Name</key>
			<string>Logen Generate</string>
			<key>TargetType</key>
			<string>Aggregate</string>
			<key>BuildPhases</key>
			<array>
				<dict>
					<key>Name</key>
					<string>🇺🇸↔️🇸🇰 Generate localizations using LoGen</string>
					<key>Class</key>
					<string>ShellScript</string>
					<key>ShellPath</key>
					<string>/bin/sh</string>
					<key>ShellScript</key>
					<string>GOOGLE_SHEET_URL = "https.sheet.com"
PYTHON_SCRIPT="${SRCROOT}/logen_ios/logen.py"

if test -f "${PYTHON_SCRIPT}"; then
python3 "${PYTHON_SCRIPT}" --url $GOOGLE_SHEET_URL --project_name "${PROJECT_NAME}"
else
    echo "warning: Python script file is not downloaded add it as submodule from https://bitbucket.org/GoodRequest/logen_ios/src/develop/ 😭😩🤦‍♂️"
fi</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
